{{define "content"}}
<div class="grid grid-cols-5 gap-4">
    <div class="col-span-1 bg-teal-500">
        {{ range .Commits }}
        <br>
        <div>{{ .Commit.Message }}</div>
        <br>
        <hr>
        {{end}}
    </div>

    <div class="col-span-3 bg-red-500">
        <h1>Below should be file</h1>
        <div style="white-space: pre-wrap;">{{ .FileBody }}</div>
    </div>

    <div class="col-span-1 bg-blue-500">
        {{ range .FileArray }}
        <br>
        <div>{{ .FileName }}</div>
        <br>
        <hr>
        {{end}}
    </div>
</div>
{{end}}
